<p></p>
<!-- <div class="row">
    <h3 align="center"><b><u>Product Form</u></b></h3>
</div> -->
<div class="col-md-8">
    <form [formGroup]="productFormGroup">
        <!-- Name input -->
        <div class="form-outline mb-4">
            <input type="text" class="form-control" formControlName="prod_name">
            <label class="form-label" for="form5Example1">Name</label>
        </div>

        <!-- Detail input -->
        <div class="form-outline mb-4">
            <input type="email" id="form5Example2" class="form-control" formControlName="prod_detail" />
            <label class="form-label" for="form5Example2">Detail</label>
        </div>

        <div class="form-outline mb-4">
            <input type="email" id="form5Example2" class="form-control" formControlName="prod_img" #new_field/>
            <label class="form-label" for="form5Example2">Image</label>
        </div>
        

        <!-- Submit button -->
        <button type="submit" mat-button class="btn btn-success" (click)="addEditProduct()"
            [disabled]="new_field.value == ''">Save</button>
            <span *ngIf="isSubmitted"></span>
    </form>

</div>