<p></p>
<h4 align="center"><b><u>Add New Employee</u></b></h4>
<p></p>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-5 col-xl-4 offset-xl-1">
                <form [formGroup]="employeeFormGroup">
                    <div class="form-control">
                        <label for="name">First Name:</label>
                        <input type="text" class="form-control" formControlName="first_name">
                        <span class="text-danger"
                            *ngIf="(employeeFormControl.first_name.touched || issubmitted) && employeeFormControl.first_name.errors?.required">
                            Please enter FirstName
                        </span>
                        <span class="text-danger"
                            *ngIf="(employeeFormControl.first_name.touched) && employeeFormControl.first_name.errors?.pattern">
                            Only characters are allow.
                        </span>
                    </div>
                    <div class="form-control">
                        <label for="last_name">Last Name:</label>
                        <input type="text" class="form-control" formControlName="last_name">
                        <span class="text-danger"
                            *ngIf="(employeeFormControl.last_name.touched || issubmitted) && employeeFormControl.last_name.errors?.required">
                            Lastname is required.
                        </span>
                        <span class="text-danger"
                            *ngIf="(employeeFormControl.last_name.touched) && employeeFormControl.last_name.errors?.pattern">
                            Only characters are allow.
                        </span>
                    </div>

                    <div class="form-control">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" formControlName="email">
                        <span class="text-danger"
                            *ngIf="(employeeFormControl.email.touched || issubmitted) && employeeFormControl.email.errors?.required">
                            Email is required.
                        </span>
                    </div>
                    <p></p>
                    <div class="checkbox">
                        <button type="submit" class="btn btn-success" (click)="onSave()">Save</button>
                        <span *ngIf="issubmitted"></span>&nbsp;
                        <button type="reset" class="btn btn-primary" (click)="onReset()">Reset</button>&nbsp;
                        <button class="btn btn-warning" (click)="back()">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<p></p>
<p></p>